header {
    width: 100%;
    background-color: rgb(250, 250, 250);
    height: 122px;
    display: block;
    border-bottom-width: 1px;
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-style: solid;
}

.toptop {
    width: 100%;
    display: block;
}

.lefttop {
    display: block;
    float: left;
    margin: 10px;
}

.righttop {
    display: block;
    float: right;
}

li {
    display: inline-block;
}

.logo {
    height: 42px;
    width: 131px;
    margin: 6.5px 0px;
}

.bar {
    position: absolute;
    height: 40px;
    width: 632px;
    top: 19px;
    left: 150px;
}

.voice {
    height: 20px;
    width: 13.5px;
    position: absolute;
    top: 32px;
    left: 707px
}

.glass {
    width: 18px;
    position: absolute;
    top: 32px;
    left: 745px;
}

.apps {
    width: 30px;
}